* {
  border: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#page-container {
  position: relative;
  min-height: 150vh;
}
#content-wrap {
  padding-bottom: 0rem;
}

/* Typo */

@import url("https://fonts.cdnfonts.com/css/filson-pro");

a, h1, h2, h3, h4, h5, h6, p {
  font-family: "Filson Pro", sans-serif;
  color: #03045e;
  font-weight: 300;
}

a {
  font-size: 20px;
  text-decoration: none;
}

h1 {
  font-size: 39px;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  font-size: 31px;
  padding-bottom: 20px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

h4 {
  color: #fc8211;
  font-size: 20px;
}

h5 {
  color: #0077b6;
  font-size: 20px;
}

h6 {
  font-size: 17px;
}

p {
  font-size: 17px;
}

/* Navbar */
#navbar {
  position: fixed;
  top: 0;
  line-height: 70px;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin: auto;
  text-align: center;
}

.logo {
  float: left;
  height: 50px;
  margin-left: 5em;
}
.menu {
  margin-right: 5em;
  display: flex;
  list-style: none;
}

.menu li {
  margin-right: 10px;
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: #03045e;
  display: block;
  font-size: 1em;
  height: 65px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

#navbar li a:hover {
  color: #fc8211;
}


@media (max-width: 700px) {
  #navbar {
    position: fixed;
    top: 0;
    line-height: 80px;
    width: 100%;
  }

  .nav-btn {
    display: block; /* Show burger icon */
    color: white;
  }

  .logo {
    margin-left: 0em;
    padding: 0em;
  }
  .menu {
    display: none; /* Hide the menu items */
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    margin-right: 5em;
  }

  .menu li {
    margin: 10px 0;
  }

  /* Show menu when checkbox is checked (for mobile) */
  #nav-check:checked ~ .nav-wrapper .menu {
    display: flex;
  }
}
/* Hero */

.hero {
  display: flex;
  flex-direction: row;
  margin: 0px;
  height: auto;
}

.texthero {
  width: 50%;
  padding: 15em 4em 2em 6em;
  text-align: left;
  height: auto;
  line-height: 1.8em;
}

.texthero h5 {
  margin-top: 30px;
  margin-right: 3em;
  font-weight: 300;
}

.herowatch {
  width: 50%;
}

.herowatch img {
  display: block;
  object-fit: auto;
}
.watchmobile {
  display: none;
}

/* CTA HERO */
.button-wrapper {
  display: flex;
  text-align: center;
  padding-top: 30px;
}

.button {
  display: inline-block;
  justify-content: center;
  padding: 0.5em 1.2em;
  width: auto;
  background: #caf0f8;
  color: #03045e;
  font-weight: 500;
  font-size: 1em;
  border-radius: 20px;
  text-decoration: none;
  border: none;
}

.button:hover {
  background: rgba(0, 0, 0, 0);
  border-color: #fc8211;
  border-style: solid;
  border-width: 2px;
}

@media (max-width: 640px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    padding: 0em;
    margin: 0px;
    height: auto;
  }
  .texthero {
    width: 100%;
    padding: 3em;
    text-align: left;
    color: black;
    height: auto;
    line-height: 1.4em;
  }
  .herowatch {
    display: flex;
    width: 100%;
    padding: 0em;
    overflow-x: hidden;
    display: none;
  }
  .watchmobile {
    display: flex;
    margin: 0em 3em;
    width: 80%;
  }
  .texthero p {
    padding-top: 30px;
    margin: auto;
  }
  .button-wrapper {
    display: flex;
    text-align: center;
    padding-top: 30px;
  }

  .button {
    display: flex;
    justify-content: center;
    padding: 0.5em 1.2em;
  }
}

/* FEATURES */

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0em;
}
.features-text {
  display: block;
  width: 40%;
  text-align: center;
}
.solid {
  border-bottom: 4px solid #00b4d8;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.features-image {
  margin: 3em;
  margin-right: 5em;
  align-items: center;
}
@media (max-width: 640px) {
  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0em;
  }
  .features-text {
    width: 90%;
  }
  .solid {
    margin-top: 20px;
  }
  .features-image {
    margin-top: 3em;
    margin-right: 5em;
  }
}
/* TIME */

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0em 10em;
}
.time-text {
  display: block;
  width: 40%;
  text-align: center;
}
.solid {
  border-bottom: 4px solid #00b4d8;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.time-column {
  margin: 5em 3em;
  align-items: center;
}

.grid-time {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.specs {
  display: block;
  margin: auto 2em;
  text-align: center;
}

.specs h3 {
  padding: 1em 0em 0.5em 0em;
}

.specs p {
  font-size: 0.9em;
}

/* Carefully */

.carefully {
  display: flex;
  flex-direction: column;
align-items:center;
  height: auto;
  padding: 3em 6em;
}

.carefully2 {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 0em 6em 3em 6em;
}

.columncare {
  width: 20% 40% 20% ;
  margin:0.5em;
  padding:1em;
}
.columncare img{
  width:100%;
  align-items: center;

justify-content: center;
}


@media screen and (max-width: 767px) {
  .carefully2 {
    flex-direction: column;
    height: auto;
    padding: 0em 2em 3em 2em;
  }
  
  .columncare {
    width: 100%;
  }
}

.textcarefully {
  width: auto;
  padding: 2em;
  text-align: left;
  color: black;
  height: auto;
  line-height: 1.8em;
}
.textcarefully p {
  margin-top: 30px;
  margin-right: 1em;
}

/* BGWALL section */
.bgwall {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0em;
}

/* Shared styles icon pseudo */
.fast::before,
.voice::before,
.apps::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 10px 0 0;
}

/* Individual background images for each icon class */
.fast::before {
  background: url("images/fast-icon.svg") no-repeat;
}

.voice::before {
  background: url("images/voice-icon.svg") no-repeat;
}

.apps::before {
  background: url("images/apps-icon.svg") no-repeat;
}


.carefully1 {
  text-align: left;
}
.carefully3 {
  text-align: right;
}

.mom, .mom2{
  font-size: 1em;
  padding-bottom: 15px;
}
.mom {
  padding-left: 50px;
}
.mom2 {
  padding-right: 50px;
}
.touch::before,
.designed::before,
.precise::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  float: right;
  margin: 0 0 0 10px;
}

.touch::before {
  background: url("images/touch-icon.svg") no-repeat;
}

.designed::before {
  background: url("images/designed-icon.svg") no-repeat;
}

.precise::before {
  background: url("images/precise-icon.svg") no-repeat;
}

/* CHOOSE section */

.choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
  background-color: #f2f8fb;
}

.choose-text {
  display: block;
  width: 40%;
  text-align: center;
}

.grid-choose {
  margin: 5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0em 3em;
}

.col-prod {
  float: left;
  padding: 30px;
  text-align: center;
  border: #fff solid 2px;
  border-radius: 10px;
}
.container {
  padding: 11px 5px;
  text-align: center;
  margin: auto;
}

.watch-sub {
  padding-top: 10px;
  text-align: center;
}

.price {
  padding-top: 15px;
  color: #fc8211;
}

.button-wrapper2 {
  padding-top: 15px;
  text-align: center;
}

.button2 {
  display: inline-block;
  justify-content: center;
  padding: 0.5em 1em;
  width: auto;
  font-weight: 500;
  font-size: 0.6em;
  border-radius: 20px;
  text-decoration: none;
  border: solid;
  border-width: 1px;
  border-color: #6f788a;
  text-align: center;
}

.button2:hover {
  background: rgba(0, 0, 0, 0);
  border-color: #fc8211;
  border-style: solid;
  border-width: 2px;
}
@media (max-width: 640px) {
  .grid-choose {
    margin: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em 1em;
  }
}

/* FOOTER */

.bg-footer {
  background-color: #020238;
  padding: 15px;
  width: 100%;
  text-align: center;
  color: #fff;
  border: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

.container2 {
  padding: 11px 5px;
  text-align: center;
  margin: auto;
  display: inline-block;
}

.divider {
  border-bottom: 1px solid white;
  width: 15em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin: 20px auto;
}
.bg-footer p {
  color: #fff;
}
