* {
  border: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Typo */

@import url("https://fonts.cdnfonts.com/css/filson-pro");

a h1 h2 h3 h4 h5 p {
  font-family: "Filson Pro", sans-serif;
}

a {
  color: #03045e;
  font-family: "Filson Pro", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

h1 {
  font-family: "Filson Pro", sans-serif;
  font-size: 39px;
  color: #03045e;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  font-family: "Filson Pro", sans-serif;
  font-size: 31px;
  color: #03045e;
  padding-bottom: 20px;
  font-weight: 700;
}
h3 {
  font-family: "Filson Pro", sans-serif;
  font-size: 25px;
  color: #03045e;
  font-weight: 700;
}

h4 {
  font-family: "Filson Pro", sans-serif;
  color: #fc8211;
  font-size: 20px;
  font-weight: 300;
}

h5 {
  font-family: "Filson Pro", sans-serif;
  color: #0077b6;
  font-size: 20px;
  font-weight: 300;
}

h6 {
  font-family: "Filson Pro", sans-serif;
  color: #03045e;
  font-size: 17px;
  font-weight: 300;
}

p {
  font-family: "Filson Pro", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

/* NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  height: 67px;
  line-height: 80px;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
}

.nav-wrapper {
  margin: auto;
  text-align: center;
}

.logo {
  float: left;
  height: 80px;
  margin-left: 130px;
}
.menu {
  margin-right: 130px;
}

#navbar ul {
  display: flex;
  float: right;
  list-style: none;
  margin-left: 14px;
  margin-top: -2px;
  text-align: left;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}
@media (max-width: 640px) {
  #navbar ul {
    display: none;
  }
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: #000;
  display: block;
  font-size: 0.7em;
  height: 0px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

#navbar li a:hover {
  color: #2fa1db;
}

/* COMMON LAYOUT */
.raw {
  padding-top: 90px;
  flex-direction: row;
  margin-left:100px;
  margin-right:100px;
}

.center {
  text-align: center;
}

.paragraph {
  padding-top: 20px;
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
}

.column3 {
  float: left;
  width: 30%;
  text-align:center;
}

.solid {
  border-bottom: 5px solid #00b4d8;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/* Clear floats after the columns */
.raw:after {
  content: "";
  display: table;
  clear: both;
}

.subtitle {
  margin: 0% 32%;
}


/* HERO */
.col-hero {
  padding: 250px 80px 0px 130px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 200px;
  background-color: none;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 200;
}

/* CTA HERO */
.button-wrapper {
  display: flex;
  text-align: center;
  padding-top: 30px;
}

.button {
  display: inline-block;
  justify-content: center;
  padding: 0.5em 1.2em;
  width: auto;
  background: #caf0f8;
  color: #000;
  font-weight: 500;
  font-size: 1em;
  border-radius: 20px;
  text-decoration: none;
  border: none;
}

.button:hover {
  background: rgba(0, 0, 0, 0);
  border-color: #0066b6;
  border-style: solid;
  border-width: 2px;
}

/* THE BEAST */

.beast {
  padding-top: 50px;
}

.beastimg {
  padding:90px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* ONE MORE TIME */

.i {
  margin:20px 0px;
}

/* WATCH CAREFULLY */

.wc {
  margin:90px;
  background-color: #b2d6e9;
}

/* PRODUCTS */

/* blue text */
.blue {
  color: #2fa1db;
}

.column3 {
  float: left;
  width: 33%;
}


/* PRE-ORDER */

.shell {
  color: #f7fbfd;
  margin-top: 60px;
  margin-bottom: 90px;
}

.container {
  padding: 11px 5px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.watch-sub {
  padding-top: 10px;
  text-align: center;
}

.price {
  padding-top: 15px;
  color: #fc8211;
}

.button-wrapper2 {
  display: flex;
  padding-top: 15px;
  text-align: center;
}

.button2 {
  display: inline-block;
  justify-content: center;
  padding: 0.5em 1em;
  width: auto;
  font-weight: 500;
  font-size: 0.6em;
  border-radius: 20px;
  text-decoration: none;
  border: solid;
  border-width: 1px;
  border-color: #6f788a;
  text-align: center;
}

.col-prod {
  float: left;
  width: 15%;
  padding: 15px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
